appdirs==1.4.4
astroid==2.15.8
black==20.8b1
cfgv==3.4.0
click==8.1.7
dill==0.3.8
distlib==0.3.8
filelock==3.15.4
flake8==3.8.4
identify==2.6.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
pathspec==0.12.1
platformdirs==4.2.2
pre-commit==3.3.3
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.17.4
PyYAML==6.0.2
regex==2024.7.24
toml==0.10.2
tomli==2.0.1
tomlkit==0.13.2
typed_ast==1.5.5
typing_extensions==4.12.2
virtualenv==20.26.3
wrapt==1.16.0
